.btn{
    margin: 0 auto;
    border: none;
    margin: 1rem;
    background: var(--gradient);
    padding: 0.8rem 4rem;
    border-radius: 5px;
    color:var(--gradient);
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.bg-dark{
    background: var(--gradient) !important;
    color: #fff;
}
.btn-light{
    background: white;
    color: #333;
}
.btn-light:hover{
    background: none;
    border: 1px solid white;
    color: white;
}

/* Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gradient);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--gradient);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }